* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.heading {
    background-color: #1F2937;
    padding: 10px 150px;
}

.brand {
    display: flex;
}

.logo {
    width: 60px;
}

.logo-text,
.hero-text {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.first-container,
.second-container,
.third-container,
.fourth-container {
    display: flex;
    flex: 1;
}


.first-container {
    padding: 100px 150px;
    background-color: #1F2937;
    display: flex;
    column-gap: 30px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text {
    padding: 0;
    margin-bottom: 10px;
    min-width: 270px;
}

.buy {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: 800;
}

.model-d {
    width: 500px;
    border-radius: 15px;
}

.second-container {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 50px;
    column-gap: 30px;
    color: #746d6d;
    font-size: 20px;    
    font-weight: bold;
}

.second-container img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.second-content {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.models {
    font-size: 36px;
    font-weight: 800;
    color: #1F2927;
}

.model-b,
.model-a,
.model-o,
.model-m {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.third-container {
    background-color: #E5E7EB
}

.fourth-container {
    background-color: white;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.links {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

/* Footer */
.footer {
    background-color: #1F2937;
}