body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.first-container,
.second-container,
.third-container,
.fourth-container {
    display: flex;
    flex: 1;
    border: 2px solid red;
}

.first-container {
    background-color: #1F2937;
}

.second-container {
    background-color: white;
}

.third-container {
    background-color: #E5E7EB
}

.fourth-container {
    background-color: white;
}